<!--adminlist-->
<div>
    <h2 class="text-center">Adminliste</h2>
    <p>Endre brukeres administratorrettigheter</p>
    <input class="form-control" ng-model="filt" placeholder="Søk"/><br/><br/>
    <span class="redMsg">
        {{adminListErr}}
    </span>
    <table  class="table transp-list">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Brukernavn</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody ng-repeat="admin in (adminList| filter:filt | orderBy: 'admin.firstname':true)">
            <tr>
                <td>{{admin.firstname | truncate:12}} {{admin.lastname | truncate:12}}</td>
                <td>{{admin.username | truncate:25}}</td>
                <td><input  ng-checked="admin.role_id == 1 || admin.role_id == 2" ng-disabled="admin.role_id == 1" ng-click="setRole(admin.username, admin.role_id)" type="checkbox"/></td>
            </tr>
        </tbody>
    </table>

</div>
<!--adminlist end-->
