<div ng-swipe-left="changeView('userFront')" ng-swipe-right="changeView('stats')">
    <span class="redMsg">
        {{fetchErrMsg}}<!--Error fetching info-->
    </span>
    <h2 class="text-center">Registrerte oppgaver</h2>
    <div class="drop" ng-init="dropAssignCreate = false" ng-show="roleCookie == 1 || roleCookie == 2">
        <div class="dropHeading">
            <a class="glyphicon" ng-class="{'glyphicon-chevron-down': dropAssignCreate, 'glyphicon-chevron-right': !dropAssignCreate}"></a>
            <a class="text-center" ng-click="dropAssignCreate = !dropAssignCreate">Lag en ny type oppgave
                <span class="clickableDiv"></span>
            </a>
        </div>
        <div class="innerDrop" ng-show="dropAssignCreate">
            <form name="newAssignForm">
                <p>
                    <input name="newAssignTitle" class="form-control" ng-model="toAddAssignment.title" type="text" placeholder="Navn" required="true" ng-class="{red:newAssignForm.newAssignTitle.$error.required && newAssignForm.newAssignTitle.$dirty, green:!newAssignForm.newAssignTitle.$error.required && newAssignForm.newAssignTitle.$dirty}">
                </p>

                <p>
                    <input name="newAssignPoints" class="form-control" ng-model="toAddAssignment.points" type="number" placeholder="Poeng" required="true" min="1" ng-class="{red:(newAssignForm.newAssignPoints.$error.required || newAssignForm.newAssignPoints.$error.min) && newAssignForm.newAssignPoints.$dirty, green:!(newAssignForm.newAssignPoints.$error.required || newAssignForm.newAssignPoints.$error.min) && newAssignForm.newAssignPoints.$dirty}">
                </p>

                <p>
                    <textarea name="newAssignDesc" ng-model="toAddAssignment.desc" placeholder="Beskrivelse" class="form-control" required="true" ng-class="{red:newAssignForm.newAssignDesc.$error.required && newAssignForm.newAssignDesc.$dirty, green:!newAssignForm.newAssignDesc.$error.required && newAssignForm.newAssignDesc.$dirty}"></textarea>
                </p>

                <p>
                    <button data-ng-click="createAssignment(toAddAssignment);
                        clearMsg();"
                            class="form-control" ng-disabled="newAssignForm.$invalid">
                        Registrer
                    </button>
                </p>
                <span class="redMsg">
                    {{createErrMsg}}<!--Error on create-->
                </span>
                <span class="greenMsg">
                    {{createMsg}}<!--Error on create-->
                </span>
            </form>
        </div>
    </div>

    <div class="drop" ng-init="dropAssignReg = false">
        <div class="dropHeading">
            <a class="glyphicon" ng-class="{'glyphicon-chevron-down': dropAssignCreate, 'glyphicon-chevron-right': !dropAssignCreate}"></a>
            <a class="text-center" ng-click="dropAssignReg = !dropAssignReg">Registrer oppgave
                <span class="clickableDiv"></span>
            </a>
        </div>
        <div class="innerDrop" ng-show="dropAssignReg">
            <p>
                <select  class="form-control" data-ng-options="selectedOption.title for selectedOption in selectedOptions"
                         data-ng-model="selectedOption">
                </select>
            </p>
            <p>
                {{selectedOption.desc}}<br/>
                Oppgaven gir {{selectedOption.points}} poeng
            </p>
            <form name="regForm">
                <p>
                    <textarea ng-model='assignment.comment' name="regComment" class="form-control" placeholder="Kommentar" required="true" ng-class="{red:regForm.regComment.$error.required && regForm.regComment.$dirty, green:!regForm.regComment.$error.required && regForm.regComment.$dirty}"></textarea>
                </p>
                <p>
                    <input class="form-control" ng-model='assignment.date_done.$date' type="date" name="regDate" required="true" ng-class="{red:regForm.regDate.$error.required && regForm.regDate.$dirty, green:!regForm.regDate.$error.required && regForm.regDate.$dirty}">
                </p>
                <p>
                    <button data-ng-click="registerAssignment(selectedOption._id.$oid, assignment);
                        clearMsg();"
                            ng-disabled="regForm.$invalid"
                            class="form-control">
                        Registrer
                    </button>
                </p>
                <span class="redMsg">
                    {{regErrMsg}}<!--Error on create-->
                </span>
                <span class="greenMsg">
                    {{regMsg}}<!--Error on create-->
                </span>
            </form>
        </div>
    </div>


    <div ng-repeat="assignment in allAssignments track by $index">
        <div class="drop" ng-init="dropArchive = false">
            <div class="dropHeading">
                <a class="glyphicon" ng-class="{'glyphicon-chevron-down': dropAssignCreate, 'glyphicon-chevron-right': !dropAssignCreate}"></a>
                <a class="text-center" ng-click="dropArchive = !dropArchive">{{assignment.date_done.$date| date:('dd.MM')}} - {{assignment.title}}
                    <span class="clickableDiv"></span>
                </a>
            </div>
            <div class="innerDrop" ng-show="dropArchive">
                <form name="editAssignForm">
                    <p>Poeng:  {{assignment.points}}     </p>
                    <p>oid: {{assignment.thisId.$oid}}</p>

                    <span ng-show="!editable">
                        <p>Dato: {{assignment.date_done.$date| date:('dd.MM.yyyy')}} </p>
                    </span>
                    <span ng-show="editable">
                        Dato: <input type="date" name="editDateDone" class="form-control" ng-class="{red:editAssignForm.editDateDone.$error.required, green:!editAssignForm.editDateDone.$error.required}" ng-model="editableAssignment.date_done.$date" required="true">
                    </span>

                    <span ng-show="!editable">
                        <p>Kommentar: {{assignment.comment}} </p>
                    </span>
                    <span ng-show="editable">
                        <textarea placeholder="Kommentar" name="editComment" class="form-control" ng-class="{red:editAssignForm.editComment.$error.required, green:!editAssignForm.editComment.$error.required}" ng-model="editableAssignment.comment" required="true"></textarea>
                    </span>

                    <p>
                    <button class="form-control" ng-show="editable" ng-click="editable = !editable;
                        editAssignment(editableAssignment);
                        clearMsg();
                        assignment = copyAssignment(editableAssignment);" ng-disabled="editAssignForm.$invalid">Lagre</button>
                    </p>
                </form>

                <a class="stdLink" type="button" ng-show="!editable" ng-click="editable = !editable;
                    editableAssignment = copyAssignment(assignment);">Endre</a>
                <a class="stdLink" type="button" ng-show="editable" ng-click="editable = !editable">Angre endring</a>
                <div ng-init="toDelete = false">
                    <a class="stdLink" type="button" ng-show="!toDelete" ng-click="toDelete = !toDelete">Slett</a>
                    <a class="stdLink" type="button" ng-show="toDelete" ng-click="toDelete = !toDelete">Angre sletting</a>
                    <div class="alert alert-info" ng-show="toDelete">
                        <a  ng-click="deleteAssignment(assignment);
                                clearMsg();" class="alert-link">Bekreft</a>
                        at du ønsker å slette oppgaven
                    </div>
                </div>

            </div>
        </div>
    </div>       
    <div>
        <p>
            <a type="button" class="form-control" ng-click="getAllAssignments(skip)">Last flere</a>
        </p>
    </div>
</div>