<div ng-swipe-right="changeView('home')">
    <div style="background-color:white">
        <div class="container">
            <div class="row">
                <!--Active cont-->
                <div class="col-sm-6">
                    <div class="container">
                        <h2 class="h2-contest">Aktive konkurranser</h2>
                        <div class="drop acc" ng-init="dropActive = false" ng-repeat="contest in activeCont">
                            <div class="dropHeading">
                                <a class="text-center" ng-click="dropActive = !dropActive">{{contest.date_end.$date| date:('dd.MM')}} - {{contest.title}}</a> <a class="pull-right glyphicon" ng-click="dropActive = !dropActive" ng-class="{'glyphicon-chevron-down': dropActive, 'glyphicon-chevron-right': !dropActive}"></a>
                            </div>
                            <div class="innerDrop" ng-show="dropActive">
                                <p>
                                    Id {{contest._id.$oid}}
                                </p>
                                <p>
                                    Administrator: {{contest.username}}
                                </p>
                                <p>
                                    Beskrivelse: {{contest.desc}}
                                </p>
                                <p>
                                    Premie: {{contest.prize}}
                                </p>
                                <p>
                                    Poeng: {{contest.points}}
                                </p>
                                <p>
                                    Frist: {{contest.date_end.$date| date:('dd.MM.yyyy')}}
                                </p>
                                <a type="button" ng-show="isParticipating(contest._id.$oid)" ng-click="dontParticipate(contest)">Meld av</a>
                                <a type="button" ng-show="!isParticipating(contest._id.$oid)" ng-click="participate(contest)">Delta</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end active cont-->
                
                <!--Inactive cont-->
                <div class="col-sm-6">
                    <div class="container">
                        <h2 class="h2-contest">Avsluttede konkurranser</h2>
                        <div class="scrollable">
                            <div class="drop acc" ng-init="dropInactive = false" ng-repeat="contest in inactiveCont">
                                <div class="dropHeading">
                                    <a class="text-center" ng-click="dropInactive = !dropInactive">{{contest.date_end.$date| date:('dd.MM')}} - {{contest.title}}</a> <a class="pull-right glyphicon" ng-click="dropInactive = !dropInactive" ng-class="{'glyphicon-chevron-down': dropInactive, 'glyphicon-chevron-right': !dropInactive}"></a>
                                </div>
                                <div class="innerDrop" ng-show="dropInactive">
                                    <p>
                                        Administrator: {{contest.username}}
                                    </p>
                                    <p>
                                        Beskrivelse: {{contest.desc}}
                                    </p>
                                    <p>
                                        Premie: {{contest.prize}}
                                    </p>
                                    <p>
                                        Poeng: {{contest.points}}
                                    </p>
                                    <p>
                                        Frist: {{contest.date_end.$date| date:('dd.MM.yyyy')}}
                                    </p>
                                </div>
                            </div>
                            <br>
                            <p>
                                <a type="button" class="form-control acc" ng-click="getInactiveContests(skipNext)">Last flere</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!--end inactive cont-->
            </div>
        </div>
    </div>