<div ng-swipe-left="changeView('contests')" ng-swipe-right="changeView('assignments')">
    <!--Carousel--
    <div ng-swipe-right="prevSlide()">
        <div style="height: 150px">
            <carousel interval="slideInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <div style="height:150px;">
                        <div class="carousel-caption">
                            <h5>{{slide.text}}</h5>
                            <h1>{{slide.points}}</h1>
                        </div>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
    <!--Carousel end-->

    <div class="container">
        <span class="redMsg">
            {{genError}}<!--general error message-->
        </span>

        <!--Goal-->
        <div class="col-sm-4">
            <div class="text-center">
                <!--top-->
                <h2>Mål</h2>
                <p>
                    <span ng-show="goalLast < 0">
                        Sett deg et mål for uka og se om du når målet ditt!
                    </span>
                    <span ng-show="goalLast > 0">
                        <span ng-show="lastWeek >= goalLast">
                            Du nådde målet ditt forrige uke!
                        </span>
                        <span ng-show="lastWeek < goalLast">
                            Du nådde ikke målet ditt forrige uke. Prøv igjen denne uka!
                        </span>
                    </span>
                </p>
                <!--end top-->
                <!--dropdown-->
                <div class="drop" ng-init="dropGoal = false">
                    <!--drop heading-->
                    <div class="dropHeading">
                        <a class="glyphicon" ng-class="{'glyphicon-chevron-down': dropGoal, 'glyphicon-chevron-right': !dropGoal}"></a>
                        <a class="text-center" ng-click="dropGoal = !dropGoal">
                            <span class="clickableDiv"></span>
                            <span ng-show="goal > 0">
                                Mitt mål er {{goal}} poeng
                            </span>
                            <span ng-show="goal <= 0">
                                Sett deg et mål!
                            </span>
                        </a>
                    </div>
                    <!--end drop heading-->
                    <!--drop body-->
                    <div class="innerDrop" ng-show="dropGoal">
                        <div ng-show="goal == -1">
                            <p>
                                Hvor mange poeng klarer du denne uka?
                            </p>
                            <form name="goalForm">
                                <p>
                                    <input name="points" ng-model="goalToSet" type="number" class="form-control" placeholder="Poeng" min="1" required="true" ng-class="{red:(goalForm.points.$error.required || goalForm.points.$error.min) && goalForm.points.$dirty, green:!(goalForm.points.$error.required || goalForm.points.$error.min) && goalForm.points.$dirty}" ng-model="newCont.points">
                                </p>
                                <p>
                                    <button ng-click="setGoal(goalToSet)" class="form-control" ng-disabled="goalForm.$invalid">Legg til</button>
                                </p>
                            </form>
                            <span class="redMsg">
                                {{setGoalErr}}<!--goal error message-->
                            </span>
                        </div>
                        <div ng-show="goal > 0">
                            <p>
                                Progress:
                            </p>
                            <!--progress bar-->
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
                                </div>
                            </div>
                            <!-- end progress bar-->
                            <p>
                                Du har tatt {{week}} poeng
                            </p>
                        </div>
                    </div>
                    <!--end drop body-->
                </div>
                <!--end dropdown-->
            </div>
            <br>
        </div>
        <!--Goal end-->

        <!--Ideabank-->
        <div class="col-sm-4">
            <div class="text-center">
                <!--top-->
                <h2>Idebank</h2>
                <p>Har du en ide? Ikke nøl med å registrere den i banken</p>
                <!--end top-->
                <!--dropdown-->
                <div class="drop" ng-init="dropIdea = false">
                    <!--drop heading-->
                    <div class="dropHeading text-center">
                        <a class="glyphicon" ng-click="dropIdea = !dropIdea" ng-class="{'glyphicon-chevron-down': dropIdea, 'glyphicon-chevron-right': !dropIdea}"></a>
                        <a ng-click="dropIdea = !dropIdea">Legg til en ide
                            <span class="clickableDiv"></span>
                        </a>
                    </div>
                    <!--end drop heading-->
                    <!--drop body-->
                    <div class="innerDrop" ng-show="dropIdea">
                        <form name="ideabankForm">
                            <p>
                                <input name="ideaTitle" type="text"  ng-model="idea.title" class="form-control" placeholder="Tittel" required="true" ng-class="{red:ideabankForm.ideaTitle.$error.required && ideabankForm.ideaTitle.$dirty, green:!ideabankForm.ideaTitle.$error.required && ideabankForm.ideaTitle.$dirty}">
                            </p>
                            <p>
                                <textarea name="ideaText" class="form-control"  ng-model="idea.text" placeholder="Tekst" required="true" ng-class="{red:ideabankForm.ideaText.$error.required && ideabankForm.ideaText.$dirty, green:!ideabankForm.ideaText.$error.required && ideabankForm.ideaText.$dirty}"></textarea>
                            </p>
                            <p>
                                <button class="form-control" ng-click="addIdea(idea);
                                    clearMsg();" ng-disabled="ideabankForm.$invalid">Legg til</button>
                            </p>
                            <span class="redMsg">
                                {{ideaErr}}<!--idea error message-->
                            </span>
                            <span class="greenMsg">
                                {{ideaMsg}}<!--idea message-->
                            </span>
                        </form>
                    </div>
                    <!--drop body-->
                </div>
                <!--end dropdown-->
            </div>
            <br>
        </div>
        <!--Ideabank end-->

        <!--reg assignment-->
        <div class="col-sm-4">
            <div class="text-center">
                <!--top-->
                <h2>Oppgaver</h2>
                <p>Har du utført en oppgave? Registrer den her!</p>
                <!--end top-->
                <!--dropdown-->
                <div class="drop" ng-init="dropAssignReg = false">
                    <!--drop heading-->
                    <div class="dropHeading">
                        <a class="glyphicon" ng-class="{'glyphicon-chevron-down': dropAssignCreate, 'glyphicon-chevron-right': !dropAssignCreate}"></a>
                        <a class="text-center" ng-click="dropAssignReg = !dropAssignReg">Ny oppgave
                            <span class="clickableDiv"></span>
                        </a>
                    </div>
                    <!--end drop heading-->
                    <!--drop body-->
                    <div class="innerDrop" ng-show="dropAssignReg">
                        <p>
                            <select  class="form-control" ng-options="selectedOption.title for selectedOption in selectedOptions"
                                     ng-model="selectedOption">
                            </select>
                        </p>
                        <p>
                            {{selectedOption.desc}}<br/>
                            Oppgaven gir {{selectedOption.points}} poeng
                        </p>
                        <form name="regForm">
                            <p>
                                <textarea ng-model='assignment.comment' name="regComment" class="form-control" placeholder="Kommentar" ng-class="{red:regForm.regComment.$error.required && regForm.regComment.$dirty, green:!regForm.regComment.$error.required && regForm.regComment.$dirty}" required="true"></textarea>
                            </p>
                            <p>
                                <input class="form-control" ng-model='assignment.date_done' type="date" name="regDate"  ng-class="{red:regForm.regDate.$error.required && regForm.regDate.$dirty, green:!regForm.regDate.$error.required && regForm.regDate.$dirty}" required="true">
                            </p>
                            <p>
                                <button ng-click="registerAssignment(selectedOption._id.$oid, assignment);
                                    clearMsg();"
                                        ng-disabled="regForm.$invalid"
                                        class="form-control">
                                    Registrer
                                </button>
                            </p>
                            <span class="redMsg">
                                {{assignErrMsg}}<!--error regAssign-->
                            </span>
                            <span class="greenMsg">
                                {{assignMsg}}<!--regAssign ok msg-->
                            </span>
                        </form>
                    </div>
                    <!--end drop body-->
                </div>
                <!--end dropdown-->
            </div>
        </div>
        <!--reg assignment end-->

    </div>

    <!--News-->
    <div class="container">
        <h2 class="text-center">Nyheter</h2>
        <!--dropdown-->
        <div class="drop" ng-init="dropNewStory = false" ng-show="(roleCookie == 1 || roleCookie == 2)">
            <!--drop header-->
            <div class="dropHeading">
                <a class="glyphicon" ng-class="{'glyphicon-chevron-down': dropNewStory, 'glyphicon-chevron-right': !dropNewStory}"></a>
                <a class="text-center" ng-click="dropNewStory = !dropNewStory">Publiser nyhet
                    <span class="clickableDiv"></span>
                </a> 
            </div>
            <!--end drop header-->
            <!--drop body-->
            <div class="innerDrop" ng-show="dropNewStory">
                <form name="addNewsForm">
                    <p>
                        <input name="newsTitle" type="text" class="form-control" ng-model="story.title" placeholder="Tittel" required="true" ng-class="{red:addNewsForm.newsTitle.$error.required && addNewsForm.newsTitle.$dirty, green:!addNewsForm.newsTitle.$error.required && addNewsForm.newsTitle.$dirty}">
                    </p>
                    <p>
                        <textarea name="newsText" class="form-control" ng-model="story.text" placeholder="Tekst" required="true" ng-class="{red:addNewsForm.newsText.$error.required && addNewsForm.newsText.$dirty, green:!addNewsForm.newsText.$error.required && addNewsForm.newsText.$dirty}"></textarea>
                    </p>
                    <p>
                        <button class="form-control" ng-click="addNewsAll(story);
                            clearMsg();" ng-disabled="addNewsForm.$invalid">Legg til</button>
                    </p>
                    <span class="redMsg">
                        {{addNewsErr}}<!--error adding news-->
                    </span>
                    <span class="greenMsg">
                        {{addNews}}<!--add successful-->
                    </span>
                </form>
            </div>
            <!--end drop body-->
        </div>
        <!--end dropdown-->

        <!--dropdown-->
        <div class="drop" ng-init="dropNews = false" ng-repeat="article in news track by $index">
            <!--drop header-->
            <div class="dropHeading">
                <a class="glyphicon" ng-class="{'glyphicon-chevron-down': dropNews, 'glyphicon-chevron-right': !dropNews}"></a>
                <a class="text-center" ng-click="dropNews = !dropNews">{{article.date.$date| date:('dd.MM')}} - {{article.title}}
                    <span class="clickableDiv"></span>
                </a> 
            </div>
            <!--end drop header-->
            <!--drop body-->
            <div class="innerDrop" ng-show="dropNews">
                <p>
                    Postet av: {{article.writer}}
                </p>
                <p>
                    {{article.text}}
                </p>
            </div>
            <!--end drop body-->
        </div>
        <!--end dropdown-->
        <br>
        <a type="button" class="form-control" ng-click="getNews()">Last flere</a>
    </div>
    <br>
    <!--News end-->

</div>