<div ng-swipe-left="changeView('contests')" ng-swipe-right="changeView('assignments')">
    <span class="redMsg">
        {{genError}}<!--general error message-->
    </span>


    <div class="col-sm-12">
        <div class="infoField">
            <h2 class="text-center">Personal stats</h2>
            <ul class="nav nav-pills" ng-init="tabAct1=true;tabAct2=false;tabAct3=false;">
                <li ng-class="{active:tabAct1}"><a style="-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;border-radius:2px 2px 2px 2px;" ng-click="tabAct1=true;tabAct2=false;tabAct3=false;">Month</a></li>
                <li ng-class="{active:tabAct2}"><a style="-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;border-radius:2px 2px 2px 2px;" ng-click="tabAct1=false;tabAct2=true;tabAct3=false;">Quarter</a></li>
                <li ng-class="{active:tabAct3}"><a style="-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;border-radius:2px 2px 2px 2px;" ng-click="tabAct1=false;tabAct2=false;tabAct3=true;">Half year</a></li>
            </ul>

            <div class="contentOfTab">
                <!--month tab-->
                <div ng-show="tabAct1">
                    <!-- number one -->
                    <div ng-show="myRankMonth===1">
                        <h4>Best!</h4>
                        <p>
                            You have collected most {{pointsMonth}} points this month! Keep up the good work!
                        </p>
                        <p ng-show="lowestThisMonth !== nrOfUsers">
                            Watch out for {{userBelowMeMonth}} behind you with {{pointsBelowMeMonth}} points!
                        </p>
                    </div>
                    <!-- top five -->
                    <div ng-show="myRankMonth>=2 && myRankMonth <= 5">
                        <h4>Top 5!</h4>
                        <p>
                            You are at {{myRankMonth}}. place this month with {{pointsMonth}} points. Keep up the good work!
                        </p>
                        <p>
                            {{userAboveMeMonth}} is above you with {{pointsAboveMeMonth}} points.
                            <span ng-show="lowestThisMonth !== nrOfUsers">Watch out for {{userBelowMeMonth}} with {{pointsBelowMeMonth}} points!</span>
                        </p>
                    </div>
                    <!-- top third -->
                    <div ng-show="myRankMonth>5 && percentageMonth<0.333">
                        <h4>Top third!</h4>
                        <p>
                            You have collected {{pointsMonth}} points this month! You are part of the top third. Keep up the good work!
                        </p>
                        <p>
                            {{userAboveMeMonth}} is above you with {{pointsAboveMeMonth}} points.
                            <span ng-show="lowestThisMonth !== nrOfUsers">Watch out for {{userBelowMeMonth}} with {{pointsBelowMeMonth}} points!</span>
                        </p>
                    </div>
                    <!-- top half -->
                    <div ng-show="myRankMonth>5 && percentageMonth>0.333 && percentageMonth<0.5">
                        <p>
                            You have collected {{pointsMonth}} points this month! You are part of the top half. Keep up the good work!
                        </p>
                        <p>
                            {{userAboveMeMonth}} is above you with {{pointsAboveMeMonth}} points.
                            <span ng-show="lowestThisMonth !== nrOfUsers">Watch out for {{userBelowMeMonth}} with {{pointsBelowMeMonth}} points!</span>
                        </p>
                    </div>
                    <!-- bottom half -->
                    <div ng-show="myRankMonth>5 && percentageMonth>0.333 && percentageMonth>0.5 && lowestThisMonth !== nrOfUsers">
                        <p>
                            You have collected {{pointsMonth}} points this month. Keep on collecting points!
                        </p>
                        <p>
                            {{userAboveMeMonth}} is above you with {{pointsAboveMeMonth}} points.
                            <span ng-show="lowestThisMonth !== nrOfUsers">Watch out for {{userBelowMeMonth}} with {{pointsBelowMeMonth}} points!</span>
                        </p>
                    </div>
                    <!-- bottom half -->
                    <div ng-show="myRankMonth>5 && percentageMonth>0.333 && percentageMonth>0.5 && lowestThisMonth === nrOfUsers">
                        <p>
                            You have collected {{pointsMonth}} points points this month. Keep on collecting points!
                        </p>
                        <p>
                            {{userAboveMeMonth}} is above you with {{pointsAboveMeMonth}} points.
                        </p>
                    </div>
                </div>
                <!--month tab end-->
                
                <!--quarter tab-->
                <div ng-show="tabAct2">
                    <!-- number one -->
                    <div ng-show="myRankQuarter===1">
                        <h4>Best!</h4>
                        <p>
                            You have collected most {{pointsQuarter}} points this quarter! Keep up the good work!
                        </p>
                        <p ng-show="lowestThisQuarter !== nrOfUsers">
                            Watch out for {{userBelowMeQuarter}} behind you with {{pointsBelowMeQuarter}} points!
                        </p>
                    </div>
                    <!-- top five -->
                    <div ng-show="myRankQuarter>=2 && myRankQuarter <= 5">
                        <h4>Top 5!</h4>
                        <p>
                            You are at {{myRankQuarter}}. place this quarter with {{pointsQuarter}} points. Keep up the good work!
                        </p>
                        <p>
                            {{userAboveMeQuarter}} is above you with {{pointsAboveMeQuarter}} points.
                            <span ng-show="lowestThisQuarter !== nrOfUsers">Watch out for {{userBelowMeQuarter}} with {{pointsBelowMeQuarter}} points!</span>
                        </p>
                    </div>
                    <!-- top third -->
                    <div ng-show="myRankQuarter>5 && percentageQuarter<0.333">
                        <h4>Top third!</h4>
                        <p>
                            You have collected {{pointsQuarter}} points this quarter! You are part of the top third. Keep up the good work!
                        </p>
                        <p>
                            {{userAboveMeQuarter}} is above you with {{pointsAboveMeQuarter}} points.
                            <span ng-show="lowestThisQuarter !== nrOfUsers">Watch out for {{userBelowMeQuarter}} with {{pointsBelowMeQuarter}} points!</span>
                        </p>
                    </div>
                    <!-- top half -->
                    <div ng-show="myRankQuarter>5 && percentageQuarter>0.333 && percentageQuarter<0.5">
                        <p>
                            You have collected {{pointsQuarter}} points this quarter! You are part of the top half. Keep up the good work!
                        </p>
                        <p>
                            {{userAboveMeQuarter}} is above you with {{pointsAboveMeQuarter}} points.
                            <span ng-show="lowestThisQuarter !== nrOfUsers">Watch out for {{userBelowMeQuarter}} with {{pointsBelowMeQuarter}} points!</span>
                        </p>
                    </div>
                    <!-- bottom half -->
                    <div ng-show="myRankQuarter>5 && percentageQuarter>0.333 && percentageQuarter>0.5 && lowestThisQuarter !== nrOfUsers">
                        <p>
                            You have collected {{pointsQuarter}} points this quarter. Keep on collecting points!
                        </p>
                        <p>
                            {{userAboveMeQuarter}} is above you with {{pointsAboveMeQuarter}} points.
                            <span ng-show="lowestThisQuarter !== nrOfUsers">Watch out for {{userBelowMeQuarter}} with {{pointsBelowMeQuarter}} points!</span>
                        </p>
                    </div>
                    <!-- bottom half -->
                    <div ng-show="myRankQuarter>5 && percentageQuarter>0.333 && percentageQuarter>0.5 && lowestThisQuarter === nrOfUsers">
                        <p>
                            You have collected {{pointsQuarter}} points this quarter. Keep on collecting points!
                        </p>
                        <p>
                            {{userAboveMeQuarter}} is above you with {{pointsAboveMeQuarter}} points.
                        </p>
                    </div>
                </div>
                <!--quarter tab end-->
                
                <!--half year tab-->
                <div ng-show="tabAct3">
                    <!-- number one -->
                    <div ng-show="myRankHalfYear===1">
                        <h4>Best!</h4>
                        <p>
                            You have collected most {{pointsHalfYear}} points this half year! Keep up the good work!
                        </p>
                        <p ng-show="lowestThisHalfYear !== nrOfUsers">
                            Watch out for {{userBelowMeHalfYear}} behind you with {{pointsBelowMeHalfYear}} points!
                        </p>
                    </div>
                    <!-- top five -->
                    <div ng-show="myRankHalfYear>=2 && myRankHalfYear <= 5">
                        <h4>Top 5!</h4>
                        <p>
                            You are at {{myRankHalfYear}}. place this half year with {{pointsHalfYear}} points. Keep up the good work!
                        </p>
                        <p>
                            {{userAboveMeHalfYear}} is above you with {{pointsAboveMeHalfYear}} points.
                            <span ng-show="lowestThisHalfYear !== nrOfUsers">Watch out for {{userBelowMeHalfYear}} with {{pointsBelowMeHalfYear}} points!</span>
                        </p>
                    </div>
                    <!-- top third -->
                    <div ng-show="myRankHalfYear>5 && percentageHalfYear<0.333">
                        <h4>Top third!</h4>
                        <p>
                            You have collected {{pointsHalfYear}} points this half year! You are part of the top third. Keep up the good work!
                        </p>
                        <p>
                            {{userAboveMeHalfYear}} is above you with {{pointsAboveMeHalfYear}} points.
                            <span ng-show="lowestThisHalfYear !== nrOfUsers">Watch out for {{userBelowMeHalfYear}} with {{pointsBelowMeHalfYear}} points!</span>
                        </p>
                    </div>
                    <!-- top half -->
                    <div ng-show="myRankHalfYear>5 && percentageHalfYear>0.333 && percentageHalfYear<0.5">
                        <p>
                            You have collected {{pointsHalfYear}} points this half year! You are part of the top half. Keep up the good work!
                        </p>
                        <p>
                            {{userAboveMeHalfYear}} is above you with {{pointsAboveMeHalfYear}} points.
                            <span ng-show="lowestThisHalfYear !== nrOfUsers">Watch out for {{userBelowMeHalfYear}} with {{pointsBelowMeHalfYear}} points!</span>
                        </p>
                    </div>
                    <!-- bottom half -->
                    <div ng-show="myRankHalfYear>5 && percentageHalfYear>0.333 && percentageHalfYear>0.5 && lowestThisHalfYear !== nrOfUsers">
                        <p>
                            You have collected {{pointsHalfYear}} points this half year. Keep on collecting points!
                        </p>
                        <p>
                            {{userAboveMeHalfYear}} is above you with {{pointsAboveMeHalfYear}} points.
                            <span ng-show="lowestThisHalfYear !== nrOfUsers">Watch out for {{userBelowMeHalfYear}} with {{pointsBelowMeHalfYear}} points!</span>
                        </p>
                    </div>
                    <!-- bottom half -->
                    <div ng-show="myRankHalfYear>5 && percentageHalfYear>0.333 && percentageHalfYear>0.5 && lowestThisHalfYear === nrOfUsers">
                        <p>
                            You have collected {{pointsHalfYear}} points this half year. Keep on collecting points!
                        </p>
                        <p>
                            {{userAboveMeHalfYear}} is above you with {{pointsAboveMeHalfYear}} points.
                        </p>
                    </div>
                </div>
                <!--half year tab end-->
                <div>
                    <a href="#stats" class="form-control form-control-custom form-control-medium">More statistics</a>
                </div>
            </div>
        </div>
    </div>

    <!--Goal-->
    <div class="col-sm-4">
        <div class="text-center">
            <!--top-->
            <h2>Goal</h2>
            <p>
                <span ng-show="goalLast < 0">
                    Set a goal for the week and see if you can reach it!
                </span>
                <span ng-show="goalLast > 0">
                    <span ng-show="lastWeek >= goalLast">
                        You reached your goal last week! Congratulations!
                    </span>
                    <span ng-show="lastWeek < goalLast">
                        You did not reach your goal last week. Try again this week!
                    </span>
                </span>
            </p>
            <!--end top-->
            <!--dropdown-->
            <div class="drop" ng-init="dropGoal = false">
                <!--drop heading-->
                <div class="dropHeading">
                    <a class="glyphicon" ng-class="{'glyphicon-chevron-down': dropGoal, 'glyphicon-chevron-right': !dropGoal}"></a>
                    <a class="text-center" ng-click="dropGoal = !dropGoal">
                        <span class="clickableDiv"></span>
                        <span ng-show="goal > 0">
                            My goal is {{goal}} points
                        </span>
                        <span ng-show="goal <= 0">
                            Set a goal!
                        </span>
                    </a>
                </div>
                <!--end drop heading-->
                <!--drop body-->
                <div class="innerDrop" ng-show="dropGoal">
                    <div ng-show="goal == -1">
                        <p>
                            How many points will you collect this week?
                        </p>
                        <form name="goalForm">
                            <p>
                                <input name="points" ng-model="goalToSet" type="number" class="form-control" placeholder="Poeng" min="1" required="true" ng-class="{red:(goalForm.points.$error.required || goalForm.points.$error.min) && goalForm.points.$dirty, green:!(goalForm.points.$error.required || goalForm.points.$error.min) && goalForm.points.$dirty}" ng-model="newCont.points">
                            </p>
                            <p>
                                <button ng-click="setGoal(goalToSet)" class="form-control" ng-disabled="goalForm.$invalid">Legg til</button>
                            </p>
                        </form>
                        <span class="redMsg">
                            {{setGoalErr}}<!--goal error message-->
                        </span>
                    </div>
                    <div ng-show="goal > 0">
                        <p>
                            Progress:
                        </p>
                        <!--progress bar-->
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
                            </div>
                        </div>
                        <!-- end progress bar-->
                        <p>
                            You have collected {{week}} points
                        </p>
                    </div>
                </div>
                <!--end drop body-->
            </div>
            <!--end dropdown-->
        </div>
        <br>
    </div>
    <!--Goal end-->

    <!--Ideabank-->
    <div class="col-sm-4">
        <div class="text-center">
            <!--top-->
            <h2>Idea bank</h2>
            <p>Got an idea? Feel free to register it in the idea bank!</p>
            <!--end top-->
            <!--dropdown-->
            <div class="drop" ng-init="dropIdea = false">
                <!--drop heading-->
                <div class="dropHeading text-center">
                    <a class="glyphicon" ng-click="dropIdea = !dropIdea" ng-class="{'glyphicon-chevron-down': dropIdea, 'glyphicon-chevron-right': !dropIdea}"></a>
                    <a ng-click="dropIdea = !dropIdea">Add an idea
                        <span class="clickableDiv"></span>
                    </a>
                </div>
                <!--end drop heading-->
                <!--drop body-->
                <div class="innerDrop" ng-show="dropIdea">
                    <form name="ideabankForm">
                        <p>
                            <input name="ideaTitle" type="text"  ng-model="idea.title" class="form-control" placeholder="Title" required="true" ng-class="{red:ideabankForm.ideaTitle.$error.required && ideabankForm.ideaTitle.$dirty, green:!ideabankForm.ideaTitle.$error.required && ideabankForm.ideaTitle.$dirty}">
                        </p>
                        <p>
                            <textarea name="ideaText" class="form-control"  ng-model="idea.text" placeholder="Text" required="true" ng-class="{red:ideabankForm.ideaText.$error.required && ideabankForm.ideaText.$dirty, green:!ideabankForm.ideaText.$error.required && ideabankForm.ideaText.$dirty}"></textarea>
                        </p>
                        <p>
                            <button class="form-control" ng-click="addIdea(idea);
                                clearMsg();" ng-disabled="ideabankForm.$invalid">ADd</button>
                        </p>
                        <span class="redMsg">
                            {{ideaErr}}<!--idea error message-->
                        </span>
                        <span class="greenMsg">
                            {{ideaMsg}}<!--idea message-->
                        </span>
                    </form>
                </div>
                <!--drop body-->
            </div>
            <!--end dropdown-->
        </div>
        <br>
    </div>
    <!--Ideabank end-->

    <!--reg assignment-->
    <div class="col-sm-4">
        <div class="text-center">
            <!--top-->
            <h2>Assignments</h2>
            <p>Have you finished an assignment? Register it here!</p>
            <!--end top-->
            <!--dropdown-->
            <div class="drop" ng-init="dropAssignReg = false">
                <!--drop heading-->
                <div class="dropHeading">
                    <a class="glyphicon" ng-class="{'glyphicon-chevron-down': dropAssignCreate, 'glyphicon-chevron-right': !dropAssignCreate}"></a>
                    <a class="text-center" ng-click="dropAssignReg = !dropAssignReg">New assignment
                        <span class="clickableDiv"></span>
                    </a>
                </div>
                <!--end drop heading-->
                <!--drop body-->
                <div class="innerDrop" ng-show="dropAssignReg">
                    <p>
                        <select  class="form-control" ng-options="selectedOption.title for selectedOption in selectedOptions"
                                 ng-model="selectedOption">
                        </select>
                    </p>
                    <p>
                        {{selectedOption.desc}}<br/>
                        The assignments gives {{selectedOption.points}} points
                    </p>
                    <form name="regForm">
                        <p>
                            <textarea ng-model='assignment.comment' name="regComment" class="form-control" placeholder="Comment" ng-class="{red:regForm.regComment.$error.required && regForm.regComment.$dirty, green:!regForm.regComment.$error.required && regForm.regComment.$dirty}" required="true"></textarea>
                        </p>
                        <p>
                            <input class="form-control" ng-model='assignment.date_done' type="date" name="regDate"  ng-class="{red:regForm.regDate.$error.required && regForm.regDate.$dirty, green:!regForm.regDate.$error.required && regForm.regDate.$dirty}" required="true">
                        </p>
                        <p>
                            <button ng-click="registerAssignment(selectedOption, assignment);
                                clearMsg();"
                                    ng-disabled="regForm.$invalid"
                                    class="form-control">
                                Register
                            </button>
                        </p>
                        <span class="redMsg">
                            {{assignErrMsg}}<!--error regAssign-->
                        </span>
                        <span class="greenMsg">
                            {{assignMsg}}<!--regAssign ok msg-->
                        </span>
                    </form>
                </div>
                <!--end drop body-->
            </div>
            <!--end dropdown-->
        </div>
    </div>
    <!--reg assignment end-->

    <!--News-->
    <div class="col-sm-12">
        <h2 class="text-center">News</h2>
        <!--dropdown-->
        <div class="drop" ng-init="dropNewStory = false" ng-show="(roleCookie == 1 || roleCookie == 2)">
            <!--drop header-->
            <div class="dropHeading">
                <a class="glyphicon" ng-class="{'glyphicon-chevron-down': dropNewStory, 'glyphicon-chevron-right': !dropNewStory}"></a>
                <a class="text-center" ng-click="dropNewStory = !dropNewStory">Publish news
                    <span class="clickableDiv"></span>
                </a> 
            </div>
            <!--end drop header-->
            <!--drop body-->
            <div class="innerDrop" ng-show="dropNewStory">
                <form name="addNewsForm">
                    <p>
                        <input name="newsTitle" type="text" class="form-control" ng-model="story.title" placeholder="Tittel" required="true" ng-class="{red:addNewsForm.newsTitle.$error.required && addNewsForm.newsTitle.$dirty, green:!addNewsForm.newsTitle.$error.required && addNewsForm.newsTitle.$dirty}">
                    </p>
                    <p>
                        <textarea name="newsText" class="form-control" ng-model="story.text" placeholder="Text" required="true" ng-class="{red:addNewsForm.newsText.$error.required && addNewsForm.newsText.$dirty, green:!addNewsForm.newsText.$error.required && addNewsForm.newsText.$dirty}"></textarea>
                    </p>
                    <p>
                        <button class="form-control" ng-click="addNewsAll(story);
                            clearMsg();" ng-disabled="addNewsForm.$invalid">Add</button>
                    </p>
                    <span class="redMsg">
                        {{addNewsErr}}<!--error adding news-->
                    </span>
                    <span class="greenMsg">
                        {{addNews}}<!--add successful-->
                    </span>
                </form>
            </div>
            <!--end drop body-->
        </div>
        <!--end dropdown-->

        <!--dropdown-->
        <div class="drop" ng-init="dropNews = false" ng-repeat="article in news track by $index">
            <!--drop header-->
            <div class="dropHeading">
                <a class="glyphicon" ng-class="{'glyphicon-chevron-down': dropNews, 'glyphicon-chevron-right': !dropNews}"></a>
                <a class="text-center" ng-click="dropNews = !dropNews">{{article.date.$date| date:('dd.MM')}} - {{article.title}}
                    <span class="clickableDiv"></span>
                </a> 
            </div>
            <!--end drop header-->
            <!--drop body-->
            <div class="innerDrop" ng-show="dropNews">
                <p>
                    By: {{article.writer}}
                </p>
                <p>
                    {{article.text}}
                </p>
                <div ng-init="toDelete = false">
                <a class="stdLink" type="button" ng-show="!toDelete" ng-click="toDelete = !toDelete">Slett</a>
                <a class="stdLink" type="button" ng-show="toDelete" ng-click="toDelete = !toDelete">Angre sletting</a>
                <div class="alert alert-info" ng-show="toDelete">
                    <a  ng-click="deleteNews(article);
                            clearMsg();" class="alert-link">Confirm</a>
                    that you want to delete the story
                </div>
                </div>
            </div>
            <!--end drop body-->
        </div>
        <!--end dropdown-->
        <br>
        <a type="button" class="form-control form-control-custom form-control-medium" ng-click="getNews()">Load more</a>
        <br>
    </div>
    <!--News end-->
</div>