<div class="container" ng-swipe-right="changeView('contests')">
    <span class="redMsg">
        {{createErrMsg}}
    </span>
    <h2 class="text-center">Idebank</h2>
    <div class="drop" ng-init="dropCreate = false">
        <div class="dropHeading">
            <a class="glyphicon" ng-class="{'glyphicon-chevron-down': dropCreate, 'glyphicon-chevron-right': !dropCreate}"></a>
            <a class="text-center" ng-click="dropCreate = !dropCreate">Ny ide
                <span class="clickableDiv"></span>
            </a>
        </div>
        <div class="innerDrop" ng-show="dropCreate">
            <form name="createIdeaForm">
                <p>
                    <input name="ideaTitle" type="text"  ng-model="idea.title" class="form-control" placeholder="Tittel" ng-class="{red:createIdeaForm.ideaTitle.$error.required && createIdeaForm.ideaTitle.$dirty, green:!createIdeaForm.ideaTitle.$error.required && createIdeaForm.ideaTitle.$dirty}" required="true">
                </p>
                <p>
                    <textarea name="ideaText" class="form-control"  ng-model="idea.text" placeholder="Tekst" ng-class="{red:createIdeaForm.ideaText.$error.required && createIdeaForm.ideaText.$dirty, green:!createIdeaForm.ideaText.$error.required && createIdeaForm.ideaText.$dirty}" required="true"></textarea>
                </p>
                <p>
                    <button class="form-control" ng-click="addIdea(idea);" ng-disabled="createIdeaForm.$invalid">Legg til</button>
                </p>
                <span class="redMsg">
                    {{createErrMsg}}
                </span>
                <span class="greenMsg">
                    {{createMsg}}
                </span>
            </form>
        </div>
    </div>

    <div class="drop" ng-init="dropBank = false" ng-repeat="idea in bank track by $index">
        <div class="dropHeading">
            <a class="glyphicon" ng-class="{'glyphicon-chevron-down': dropBank, 'glyphicon-chevron-right': !dropBank}"></a>
            <a class="text-center" ng-click="dropBank = !dropBank">{{idea.date.$date| date:('dd.MM')}} - {{idea.title}}
                <span class="clickableDiv"></span>
            </a>
        </div>
        <div class="innerDrop" ng-show="dropBank">
            <p>
                {{idea.text}}
            </p>
            <p>
                Skrevet av {{idea.username}}
            </p>
            <p>
                Lagt til: {{idea.date.$date| date:('dd.MM.yyyy')}}
            </p>
        </div>
    </div>
    <br>
    <a type="button" class="form-control" ng-click="getIdeas(skip)">Last flere</a>
    <br>
</div>