<div ng-swipe-left="changeView('userFront')" >
      
     <div>
        <div class="container">
            <div class="drop" ng-init="dropAssignCreate = false" ng-show="roleCookie == 1 || roleCookie == 2">
                <div class="dropHeading">
                                <a class="glyphicon" ng-class="{'glyphicon-chevron-down': dropAssignCreate, 'glyphicon-chevron-right': !dropAssignCreate}"></a>
                                <a class="text-center" ng-click="dropAssignCreate = !dropAssignCreate">Lag en ny type oppgave
                                    <span class="clickableDiv"></span>
                                </a>
                            </div>
                <div class="innerDrop" ng-show="dropAssignCreate">
                    <form name="newAssignForm">
                        <p>
                            <input name="newAssignTitle" class="form-control" ng-model="title" type="text" placeholder="Navn" ng-class="{red:newAssignForm.newAssignTitle.$error.required && newAssignForm.newAssignTitle.$dirty, green:!newAssignForm.newAssignTitle.$error.required && newAssignForm.newAssignTitle.$dirty}" required="true">
                        </p>

                        <p>
                            <input name="newAssignPoints" class="form-control" ng-model="points" type="number" placeholder="Poeng" ng-class="{red:(newAssignForm.newAssignPoints.$error.required || newAssignForm.newAssignPoints.$error.min) && newAssignForm.newAssignPoints.$dirty, green:!(newAssignForm.newAssignPoints.$error.required || newAssignForm.newAssignPoints.$error.min) && newAssignForm.newAssignPoints.$dirty}" required="true" min="1">
                        </p>

                        <p>
                            <textarea name="newAssignDesc" ng-model="desc" placeholder="Beskrivelse" class="form-control" ng-class="{red:newAssignForm.newAssignDesc.$error.required && newAssignForm.newAssignDesc.$dirty, green:!newAssignForm.newAssignDesc.$error.required && newAssignForm.newAssignDesc.$dirty}" required="true"></textarea>
                        </p>

                        <p>
                            <button data-ng-click="createAssignment()"
                                    class="form-control" ng-disabled="newAssignForm.$invalid">
                                Registrer
                            </button>
                        </p>
                    </form>
                </div>
            </div>
            
            <h2 class="text-center">Registrerte oppgaver</h2>
            <div class="drop" ng-init="dropAssignReg = false">
                <div class="dropHeading">
                <a class="glyphicon" ng-class="{'glyphicon-chevron-down': dropAssignCreate, 'glyphicon-chevron-right': !dropAssignCreate}"></a>
                <a class="text-center" ng-click="dropAssignReg = !dropAssignReg">Ny oppgave
                    <span class="clickableDiv"></span>
                </a>
                </div>
                <div class="innerDrop" ng-show="dropAssignReg">
                    <p>
                        <select  class="form-control" data-ng-options="selectedOption.title for selectedOption in selectedOptions"
                                data-ng-model="selectedOption">
                        </select>
                    </p>
                    <p>
                        {{selectedOption.desc}}<br/>
                        Oppgaven gir {{selectedOption.points}} poeng
                    </p>
                    <form name="regForm">
                        <p>
                            <textarea ng-model='comment' name="regComment" class="form-control" placeholder="Kommentar" ng-class="{red:regForm.regComment.$error.required && regForm.regComment.$dirty, green:!regForm.regComment.$error.required && regForm.regComment.$dirty}" required="true"></textarea>
                        </p>
                        <p>
                            <input class="form-control" ng-model='date_done' type="date" name="regDate"  ng-class="{red:regForm.regDate.$error.required && regForm.regDate.$dirty, green:!regForm.regDate.$error.required && regForm.regDate.$dirty}" required="true">
                        </p>
                        <p>
                            <button data-ng-click="registerAssignment()"
                                    ng-disabled="regForm.$invalid"
                              class="form-control">
                                Registrer
                            </button>
                        </p>
                    </form>
                </div>
            </div>
            
            
            <div ng-repeat="assignment in allAssignments">
                <div class="drop" ng-init="dropArchive= false">
                    <div class="dropHeading">
                        <a class="glyphicon" ng-class="{'glyphicon-chevron-down': dropAssignCreate, 'glyphicon-chevron-right': !dropAssignCreate}"></a>
                        <a class="text-center" ng-click="dropArchive = !dropArchive">{{assignment.assignments.date_done.$date | date:('dd.MM')}} - {{assignment.title}}
                            <span class="clickableDiv"></span>
                        </a>
                    </div>
                    <div class="innerDrop" ng-show="dropArchive">
                        <p>Poeng:  {{assignment.points}}     </p>
                        <p>Dato: {{assignment.assignments.date_done.$date| date:('dd.MM')}} </p>
                        <p>Kommentar: {{assignment.assignments.comment}} </p>
                    </div>
                </div>
            </div>
            <br>
                <button class="form-control" ng-click="getAllAssignments(skip);">Last flere</button>
            <br>
        </div>
     </div>
</div>