<div ng-swipe-left="changeView('userFront')" >
      
     <div style="background-color:white">
        <div class="container">
            <div class="drop" ng-init="dropAssignCreate = false">
                <div class="dropHeading">
                                <a class="text-center" ng-click="dropAssignCreate = !dropAssignCreate">Lag en ny type oppgave</a> <a class="pull-right glyphicon" ng-click="dropAssignCreate = !dropAssignCreate" ng-class="{'glyphicon-chevron-down': dropAssignCreate, 'glyphicon-chevron-right': !dropAssignCreate}"></a>
                            </div>
                <div class="innerDrop" ng-show="dropAssignCreate">
                    <p>
                        Navn: 
                        <input ng-model="title" name="name" type="text" placeholder="Navn på oppgave">
                    </p>

                    <p>
                        Poeng:
                        <input ng-model="points" name="points" type="text" placeholder="Antall poeng">
                    </p>

                    <p>
                        Beskrivelse:
                        <textarea ng-model="desc" name="desc" placeholder="Skriv beskrivlse for oppgave" class="form-control" maxlength="100"></textarea>
                    </p>

                    <p>
                        <a data-ng-click="createAssignment()"
                          class="btn btn-primary btn-lg" role="button">
                            Registrer
                        </a>
                    </p>
                </div>
            </div>
            
            
            <div class="drop" ng-init="dropAssignReg = false">
                <div class="dropHeading">
                    <a class="text-center" ng-click="dropAssignReg = !dropAssignReg">Registrer en oppgave</a> <a class="pull-right glyphicon" ng-click="dropAssignReg = !dropAssignReg" ng-class="{'glyphicon-chevron-down': dropAssignReg, 'glyphicon-chevron-right': !dropAssignReg}"></a>
                </div>
                <div class="innerDrop" ng-show="dropAssignReg">            
                    <p>
                        Velg oppgave
                        <select data-ng-options="selectedOption.title for selectedOption in selectedOptions"
                                data-ng-model="selectedOption" class="form-control">
                        </select>
                    </p>
                    <p>
                        {{selectedOption.desc}}<br/>
                        Oppgaven gir {{selectedOption.points}} poeng
                    </p>
                    <p>
                        Kommentar:
                        <textarea  ng-model='comment' id="comment" name="comment" class="form-control" maxlength="100"></textarea>
                    </p>
                    <p>
                        Velg dato
                        <br>
                        <input ng-model='date' type="date" name="date" id="date" class="datepicker"  required>
                    </p>
                    <p>
                        <a data-ng-click="registerAssignment()"
                          class="btn btn-primary btn-lg" role="button">
                            Registrer
                        </a>
                    </p>
                </div>
            </div>
            
            <br/>
                    
            <accordion close-others="true">
                <div ng-repeat="assignment in allAssignments">
                    <accordion-group is-open="isopen"  class="accordion">
                        <accordion-heading class="accordionhead">
                            <div class="text-center">
                                {{assignment.id}} - {{assignment.date.$date| date:('dd.MM')}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                            </div>
                        </accordion-heading>
                        <p>Type:    </p>
                        <p>Poeng:       </p>
                        <p>Dato: {{assignment.date.$date| date:('dd.MM')}} </p>
                        <p>Kommentar: {{assignment.comment}} </p>
                    </accordion-group>
                </div>
            </accordion>
            </div>
        <br>
     </div>
</div>