<div class="container container-512">
    <!--login form-->
    <form name="loginForm">
        <h4 class="text-center">Logg inn</h4>
        <p>
            <input ng-model="usr" name="usr" class="form-control form-control-custom form-control-big" type="text" placeholder="Brukernavn"  required="true" ng-class="{red:loginForm.usr.$error.required && loginForm.usr.$dirty, green:!loginForm.usr.$error.required && loginForm.usr.$dirty}">
        </p>
        <p>
            <input ng-model="pwd" name="pwd" class="form-control form-control-custom form-control-big" type="password" placeholder="Passord"  required="true" ng-class="{red:loginForm.pwd.$error.required && loginForm.pwd.$dirty, green:!loginForm.pwd.$error.required && loginForm.pwd.$dirty}">
        </p>
        <p>
            <button class="form-control form-control-custom form-control-big" ng-click="login(usr, pwd)"  ng-disabled="loginForm.$invalid">Logg inn</button>
        </p>
    </form>
    <!--end login form-->

    <span class="redMsg">
        {{loginErr}}
    </span>
    <br>
    <p>
        <a class="stdLink" href="#regUser">Registrer deg</a>
    </p>
    <p>
        <a class="stdLink" href="#newPwd">Glemt passord</a>
    </p>
</div>