<div class="container container-512">
    <!--login form-->
    <form name="loginForm">
        <h4 class="text-center">Login</h4>
        <p>
            <input ng-model="usr" name="usr" class="form-control form-control-custom form-control-big" type="text" placeholder="Username"  required="true" ng-class="{red:loginForm.usr.$error.required && loginForm.usr.$dirty, green:!loginForm.usr.$error.required && loginForm.usr.$dirty}">
        </p>
        <p>
            <input ng-model="pwd" name="pwd" class="form-control form-control-custom form-control-big" type="password" placeholder="Password"  required="true" ng-class="{red:loginForm.pwd.$error.required && loginForm.pwd.$dirty, green:!loginForm.pwd.$error.required && loginForm.pwd.$dirty}">
        </p>
        <p>
            <button class="form-control form-control-custom form-control-big" ng-click="login(usr, pwd)"  ng-disabled="loginForm.$invalid">Login</button>
        </p>
    </form>
    <!--end login form-->

    <a href="http://www.facebook.com/dialog/oauth?client_id=294235794072909&redirect_uri=http://localhost:8080/APPlaus/APPlausServlet?action=fbLogin&scope=email"><img src="img/FB-f-Logo__blue_29.png"> Login</a>
    
    <span class="redMsg">
        {{loginErr}}
    </span>
    <br>
    <p>
        <a class="stdLink" href="#regUser">Register user</a>
    </p>
    <p>
        <a class="stdLink" href="#regUserFb">Register with Facebook</a>
    </p>
    <p>
        <a class="stdLink" href="#newPwd">Forgotten password</a>
    </p>
</div>