<div class="container">
    <form name="loginForm">
        <h4 class="text-center">Logg inn</h4>

    <p>
        <input ng-model="usr" name="usr" class="form-control" type="text" placeholder="username" ng-class="{red:loginForm.usr.$error.required && loginForm.usr.$dirty, green:!loginForm.usr.$error.required && loginForm.usr.$dirty}" required="true">
    </p>
    <p>
        <input ng-model="pwd" name="pwd" class="form-control" type="password" placeholder="password" ng-class="{red:loginForm.pwd.$error.required && loginForm.pwd.$dirty, green:!loginForm.pwd.$error.required && loginForm.pwd.$dirty}" required="true">
    </p>
    <p>
        <button class="form-control" ng-click="login(usr, pwd)"  ng-disabled="loginForm.$invalid">Log in</button>
    </p>
    </form>
    <div class="red">
        {{loginErr}}
    </div>
    <p>
        <a class="stdLink" href="#regUser">Registrer deg</a>
    </p>
    <p>
        <a class="stdLink" href="#newPwd">Glemt passord</a>
    </p>
</div>