<div class="container">
    <h4 class="text-center">Nytt passord</h4>

    <!--newpwd form-->
    <form name="newPwdForm">
        <p>
            <input class="form-control" ng-model="email" name="email" type="text" placeholder="e-post" required="true" ng-class="{red:newPwdForm.email.$error.required && newPwdForm.email.$dirty, green:!newPwdForm.email.$error.required && newPwdForm.email.$dirty}">
        </p>
        <p>
            <button class="form-control" ng-click="newPassword(email)" ng-disabled="newPwdForm.$invalid">Send nytt passord</button>
        </p>
    </form>
    <!--end newpwd form-->

    <span class="greenMsg">
        {{msg}}
    </span>
    <span class="redMsg">
        {{errMsg}}
    </span>

    <p>
        <a class="stdLink" href="#login">Tilbake</a>
    </p>
</div>