<div class="container">
    <form>
        <h4 class="text-center">Registrer ny bruker</h4>

    <p>
        <input ng-model="user.usr" name="usr" class="form-control" type="text" placeholder="brukernavn">
    </p>
    <p>
        <input ng-model="user.pwd" name="pwd" class="form-control" type="password" placeholder="passord">
    </p>
    <p>
        <input ng-model="user.pwdRepeat" name="pwdRepeat" class="form-control" type="password" placeholder="gjenta passord">
    </p>

    <br/>

    <p>
        <input ng-model="user.fname" name="fname" class="form-control" type="text" placeholder="fornavn">
    </p>
    <p>
        <input ng-model="user.lname" name="lname" class="form-control" type="text" placeholder="etternavn">
    </p>
    <p>
        <input ng-model="user.email" name="email" class="form-control" type="text" placeholder="e-post">
    </p>

    <p>
        <button class="form-control" ng-click="registerUser(user)">Registrer</button>
    </p>
    </form>
    <p>
        <a href="#login">Logg inn</a>
    </p>
</div>